<script>
  /* see: <https://docs.mathjax.org/en/latest/options/input/tex.html#tex-options> */
  MathJax = {
    tex: {
      packages: {
        "[+]": ["noundefined", "autoload", "ams", "textmacros", "physics"],
      },
      inlineMath: [
        ["$", "$"],
        ["\\(", "\\)"],
      ],
      displayMath: [
        ["$$", "$$"],
        ["\\[", "\\]"],
      ],
      tags: "{{ page.math.tags | default: all }}", // or 'none' or 'ams'
    },
  };
</script>
<script src="{{ site.data.assets[origin].polyfill.js | relative_url }}"></script>
<script
  id="MathJax-script"
  async
  src="{{ site.data.assets[origin].mathjax.js | relative_url }}"
></script>
