---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* append your custom style below */

.post-content {
  blockquote {
    // :last-child {
    //   margin-bottom: 0;
    // }

    // .prompt-info
    background-color: var(--prompt-info-bg);

    // [class^="prompt-"]
    // display: flex;
    // border-left: 0;
    border-color: var(--prompt-text-color);
    border-radius: 6px;
    // padding: 0.75rem 1.2rem;
    color: var(--prompt-text-color);
  }
}

span.kdmath mjx-container[jax="SVG"] {
  display: block;
  text-align: center;
  margin: 1rem;
}
